.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-list-container {
  border: 2px solid black;
  padding: 20px;
  width: 80%; /* Adjust the width as needed */
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  border: 1px solid black;
  padding: 8px;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table {
  border-collapse: collapse;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.product-table th {
  text-align: left;
  background-color: #f2f2f2;
}
/* CSS for ProductTable component */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.dark-mode{
  background-color: #212529; /* Dark background color */
  color: #ffffff; /* Light text color */
}

/* Add additional styles for dark mode as needed */
